<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title.index}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/clifton-io-website.min.css">
  <meta name="author" content="{{meta-author}}">
  <meta name="description" content="{{meta-description.index}}">
  <meta name="keywords" content="{{meta-keywords}}">
  <link rel="canonical" href="{{links.index}}">
</head>
<body>
  <div id="content-wrapper" class="index">
    <header>
      <nav id="header" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="{{links.index}}">{{meta-author}}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{links.blog}}">blog</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section id="portrait-jumbo">
      <div class="icons portrait"></div>
      <h1>Hi, I'm Brian :)</h1>
    </section>

    <section id="intro">
      <div class="container">
        <div>
          <p>
            My goal is to make a difference in people's lives.
          </p>
          <p>
            I've been writing code since 1993 and I want to share all the things I've learned along the way.
          </p>
          <p>
            I'm always learning new things, <a title="My GitHub profile" href="{{links.github}}" target="_blank">contributing on GitHub</a>,
            <a title="My Twitter account" href="{{links.twitter}}" target="_blank">tweeting about coding</a>,
            and <a title="My blog" href="{{links.blog}}">blogging</a>.
          </p>
        </div>
      </div>
    </section>

    <section id="main">
      <div id="blog-entries">
        <h4><i class="fa fa-newspaper-o" style="margin-right:10px;"></i>Recent blog entries</h4>
        <div class="loading-container" style="display:none;"><div class="loading"></div></div>
        <p class="no-entries" style="display:none;">No entries yet</p>
        <p class="failure" style="display:none;">Error loading blog entries</p>
      </div>
    </section>
  </div>

  <footer>
    <div class="container">
      <div class="social col-md-4">
        <a class="fa fa-twitter" href="{{links.twitter}}" title="Twitter" target="_blank"></a>
        <a class="fa fa-github" href="{{links.github}}" title="GitHub" target="_blank"></a>
        <a class="fa fa-linkedin-square" href="{{links.linkedin}}" title="LinkedIn" target="_blank"></a>
      </div>

      <div class="copyright col-md-8">
        &copy; Copyright 2016, {{meta-author}}. All rights reserved.
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="/js/clifton-io-website.min.js"></script>
  <script type="text/javascript">
    registerAnalytics('{{ga-tracking-id}}');
    getRecentBlogPosts();
  </script>
</body>
</html>