<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title.learn}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{meta-author}}">
  <meta name="description" content="{{meta-description.learn}}">
  <meta name="keywords" content="{{meta-keywords}}">
  <link rel="canonical" href="{{links.learn}}">
  <link rel="stylesheet" href="/css/clifton-io-website.min.css">
</head>
<body>
  <div id="content-wrapper">
    <header>
      <nav id="header" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="{{links.index}}">{{meta-author}}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{links.blog}}">blog</a></li>
              <li><a href="{{links.learn}}">learn</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section id="page-content">
      <div class="container">
        <h1>Learn Programming</h1>
        <p>
          I love programming and want to share it with as many people as possible. When I was a kid, I had no idea what I wanted to do "when I grow up".
          Writing code was something that started off as a hobby and ended up being what I got into professionally.
        </p>
        <h2 id="why">Why?</h2>
        <p>
          It's never too early (or too late) to get into programming. Writing code isn't "for nerds"- it's something anybody can learn to do.
        </p>

        <h3>Have fun and get paid well for it</h3>
        <p>
          Going in to work each day at my current job is rewarding. I truly enjoy the time I spend with my co-workers and we have a good time.
          One of my favorite things about working with really smart people is that you always will be learning new things.
        </p>
        <p>
          Besides having a good time, being a software engineer has great pay and benefits. You'll easily have enough money to get a nice car and a house.
          Having medical insurance is one that is super important. As you get older, you'll eventually get sick and if you don't have insurance, you'll get stuck with a pile of bills that can ruin your life.
        </p>

        <h3>Solve problems that matter</h3>
        <p>You have a chance to make a difference in the world.</p>

        <h3>Flexible schedule, no physical work required</h3>
        <p>
          This can be a huge one. Towards the end of highschool, I worked in a plastics factory doing manual labor. It was pretty demanding physically;
          I'd be standing up all day, working until I'm physically exhausted. Bagging tons of plastic pellets into 50 LB bags, stacking them up on a pallet,
          cleaning out the hoppers used to dry the material... delivering samples to the folks that tested the materials.
        </p>
        <p>
          Even though I was in good physical shape and was able to do the job (once I got settled in), it was still physically demanding.
          What's even scarier was that I worked with a few folks that were in their mid or late 50's. These people were doing the same physical job that I (a teenager)
          was doing. Would I be able to do this same job, 40 years from now? What happens if you break your leg and weren't able to do the job for a while, would you get fired?
        </p>

        <h2>Start off with web development!</h2>
        <h3>Tools- text editor and web browser</h3>
        <h3>Make/edit your pages</h3>
        <h3>Get hosting - share your site!</h3>
        <h3>Domain name</h3>

        <h2>Become an open source enthusiast</h2>
        <h3>Sign up on GitHub</h3>
        <h3>Search for cool projects</h3>
        <p>Example- Dragon Warrior js</p>
        <p>An old NES game I really enjoyed. <a href="https://github.com/Threllous/DragonWarriorJS">I found this project</a> and just started contributing.</p>

        <h2>Get into game programming</h2>
        <h3>Grab a copy of Visual Studio Community</h3>
        <p><a href="https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx">Download available here</a></p>
        <h3>Check out MonoGame</h3>
        <p><a href="http://www.monogame.net/">MonoGame</a></p>
        <h3>Check out Steam Greenlight</h3>
        <p><a href="https://steamcommunity.com/greenlight/">Greenlight</a></p>

        <h2>Keep on learning</h2>
        <h3>Learn more about the web</h3>
        <p>
        <ul>
          <p><a href="http://www.w3schools.com/">W3schools.com</a></p>
          <p><a href="https://jquery.com/">Jquery</a></p>
          <p><a href="http://jsbin.com/">Jsbin</a></p>
        </ul>
        </p>
      </div>
    </section>
  </div>
  <footer id="footer-large">
    <div id="footer-top">
      <div class="container">
        <div class="row" id="footer-top-content">
          <div id="blog-entries" class="col-md-4">
            <h4>blog</h4>
            <p class="loading" style="display:none;"></p>
            <p class="no-entries" style="display:none;">No entries yet</p>
            <p class="failure" style="display:none;">Error loading blog entries</p>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <h4>follow me</h4>
            <div>
              <a title="Twitter" class="icons twitter" href="{{links.twitter}}"></a>
              <a title="GitHub" class="icons github" href="{{links.github}}"></a>
              <a title="LinkedIn" class="icons linked-in" href="{{links.linkedin}}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-bottom">
      <div class="container">
        <div class="row" id="footer-bottom-content">
          &copy; Copyright 2016, {{meta-author}}. All rights reserved.
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/clifton-io-website.min.js"></script>
  <script>
    registerAnalytics('{{ga-tracking-id}}');
    getRecentBlogPosts();
  </script>
</body>
</html>