<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title.learn}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{meta-author}}">
  <meta name="description" content="{{meta-description.learn}}">
  <meta name="keywords" content="{{meta-keywords}}">
  <link rel="canonical" href="{{links.learn}}">
  <link rel="stylesheet" href="/css/clifton-io-website.min.css">
</head>
<body>
  <div id="content-wrapper">
    <header>
      <nav id="header" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="{{links.index}}">{{meta-author}}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{links.blog}}">blog</a></li>
              <li><a href="{{links.learn}}">learn</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section id="page-content">
      <div class="container">
        <h1>Learn Programming</h1>
        <p>I love programming and want to share it with as many people as possible.</p>
        <h2 id="why">Why?</h2>
        <p></p>
        <h3>Have fun and get paid well for it</h3>
        <p>Great pay and benefits</p>
        <h3>Solve problems that matter</h3>
        <h3>Flexible schedule, no physical work required</h3>

        <h2>Start off with web development!</h2>
        <h3>Tools- text editor and web browser</h3>
        <h3>Make/edit your pages</h3>
        <h3>Get hosting - share your site!</h3>
        <h3>Domain name</h3>

        <h2>Become an open source enthusiast</h2>
        <h3>Sign up on GitHub</h3>
        <h3>Search for cool projects</h3>
        <p>Example- Dragon Warrior js</p>
        <p>An old NES game I really enjoyed. <a href="https://github.com/Threllous/DragonWarriorJS">I found this project</a> and just started contributing.</p>

        <h2>Get into game programming</h2>
        <h3>Grab a copy of Visual Studio Community</h3>
        <p><a href="https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx">Download available here</a></p>
        <h3>Check out MonoGame</h3>
        <p><a href="http://www.monogame.net/">MonoGame</a></p>
        <h3>Check out Steam Greenlight</h3>
        <p><a href="https://steamcommunity.com/greenlight/">Greenlight</a></p>

        <h2>Keep on learning</h2>
        <h3>Learn more about the web</h3>
        <p>
        <ul>
          <p><a href="http://www.w3schools.com/">W3schools.com</a></p>
          <p><a href="https://jquery.com/">Jquery</a></p>
          <p><a href="http://jsbin.com/">Jsbin</a></p>
        </ul>
        </p>
      </div>
    </section>
  </div>
  <footer id="footer-large">
    <div id="footer-top">
      <div class="container">
        <div class="row" id="footer-top-content">
          <div id="blog-entries" class="col-md-4">
            <h4>blog</h4>
            <p class="loading" style="display:none;"></p>
            <p class="no-entries" style="display:none;">No entries yet</p>
            <p class="failure" style="display:none;">Error loading blog entries</p>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <h4>follow me</h4>
            <div>
              <a title="Twitter" class="icons twitter" href="{{links.twitter}}"></a>
              <a title="GitHub" class="icons github" href="{{links.github}}"></a>
              <a title="LinkedIn" class="icons linked-in" href="{{links.linkedin}}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-bottom">
      <div class="container">
        <div class="row" id="footer-bottom-content">
          &copy; Copyright 2016, {{meta-author}}. All rights reserved.
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/clifton-io-website.min.js"></script>
  <script>
    registerAnalytics('{{ga-tracking-id}}');
    getRecentBlogPosts();
  </script>
</body>
</html>