<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{head-title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/clifton-io-website.min.css">
  <meta name="author" content="{{meta-author}}">
  <meta name="description" content="{{head-description}}">
  <meta name="keywords" content="{{meta-keywords}}">
  <link rel="canonical" href="{{head-link}}">
</head>